<!-- _includes/head.html -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
{% seo %}

<!-- Google Fonts: Outfit + Ovo (same as portfolio) -->
<link href="https://fonts.googleapis.com/css2?family=Ovo&family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Main CSS -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/404.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/contact.css' | relative_url }}">

<!-- Favicon (optional) -->
<link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
<script type="module" src="{{ '/assets/script/animation.js' | relative_url }}"></script>
<script type="module" src="{{ '/assets/script/contact.js' | relative_url }}"></script>