---
layout: default
---

<article class="post">
     <div id="scroll-indicator"></div>
     <header class="post__header">
          <a class="back-link nf-btn" href="{{ '/' | relative_url }}">&#x21e6; Back to Blog</a>
          <h1 class="post__title">{{ page.title }}</h1>
          <div class="post__metas">
               {% if page.author %}
               <span class="post__meta">{{ page.author }}</span>
               {% endif %}
               {% if page.date %}
               <time class="post__meta" datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: "%B %d, %Y" }}
               </time>
               {% endif %}

               {% if page.tags %}
               <p class="post__tags">
                    {% for tag in page.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
               </p>
               {% endif %}
          </div>

          {% if page.cover_image %}
          <div class="post__cover__container">
               <img class="post__cover" src="{{ page.cover_image | relative_url }}" alt="">
          </div>
          {% endif %}
     </header>
     <hr>
     <div class="post__content">
          {{ content }}
     </div>
</article>